.MainWindow{
	/*background-image:url("/home/ciro/Imágenes/Wallpapers/Anime/art-pistole-sturm-kirito-kirigaya-kazuto-schwert.jpg");
	background-size:100% 100%;*/
}

.header{
	/*
	background-image: linear-gradient(45deg, yellow, blue);
	color:white;
	*/
}
header *{
	
}

.Terminal{
	background:black;
	color:white;
	/*background-image:url("/home/ciro/Imágenes/Wallpapers/Anime/27624390899_9b6cbf800f_o.jpg");
	background-size:100% 100%;*/
}
.Terminal *{

}

.LeftPanel{
	/*background-image:url("/home/ciro/Imágenes/Wallpapers/Anime/0b8515bc7196f9fb1529a9050f8c8a7b.jpg");
	background-size:100% 100%;
	color:black;*/
}
.LeftPanel *{

}

.BodyHome{
	/*background-image:url("/home/ciro/Imágenes/Wallpapers/Anime/art-pistole-sturm-kirito-kirigaya-kazuto-schwert.jpg");
	background-size:100% 100%;
	color:black;*/
}
.BodyHome *{

}

.BodyImage{
	/*opacity:0.5;*/
}

.BodyLoaders{
	/*opacity:0.5;*/
}

.BodyLoaders *{

}

.box_shown{
	border-bottom:solid 2px gray;
}

